<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap"
  rel="stylesheet"
/>
<!--Stylesheet-->
 

<div class="background">
  <div class="shape"></div>
  <div class="shape"></div>
</div>
<div >
  <form>
    <h3 style="color: #080710">Login Here</h3>

    <label for="username" style="color: #080710">Username</label>
    <input  type="text"  style="color: #080710" placeholder="Email or Phone" id="username" />

    <label for="password" style="color: #080710">Password</label>
    <input type="password"  style="color: #080710" placeholder="Password" id="username" />

    <button style="background-color: #080710" >Log In</button>
    <a routerLink="/signup"><button  style="background-color: #2e2a52"  >signup</button></a>
  </form>
</div>
